<p>form-new-publicacion works!</p>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
  
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Título de la publicación</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label for="">Descripción de la publicación</label>
          <textarea class="form-control" id="" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre de la mascota</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Comuna en la que reside</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Talca</option>
            <option>San clemente</option>
            <option>San javier</option>
            <option>Linares</option>
            <option>Parral</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo publicación</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Busco a mi mascota</option>
            <option>Encontre una mascota</option>
            <option>Doy en adopción</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Comuna en la que reside</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Talca</option>
            <option>San clemente</option>
            <option>San javier</option>
            <option>Linares</option>
            <option>Parral</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoría animal</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Perro</option>
            <option>Gato</option>
            <option>Loro</option>
            <option>Hamster</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoría animal</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Siames</option>
            <option>Quilterri</option>
          </select>
        </div>      <div class="form-group">
          <label for="exampleFormControlSelect1">Categoría animal</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Hembra</option>
            <option>Macho</option>
          </select>
        </div>



        <button class="btn btn-primary form-control">Enviar</button>

      </form>
    
    
    
    </div>
    <div class="col-2"></div>
  </div>
  
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <h2 mat-dialog-title>{{ estadoFormulario }} nueva publicacion</h2>

  <mat-dialog-content>

  <form [formGroup]="publicacionForm">



    <div class="publicacion-container">   
      <mat-form-field>
        <input matInput placeholder="Titulo" formControlName="titulo" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="nombreMascota" formControlName="nombreMascota" required>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Comuna</mat-label>
          <mat-select formControlName="comuna">
          <mat-option *ngFor="let comuna of comunaObj" 
          [value]="comuna.nombre">
            {{ comuna.nombre  }}
          </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo publicación</mat-label>
          <mat-select formControlName="tipoPub">
          <mat-option *ngFor="let tipoPub of tipoPubObj" 
          [value]="tipoPub.categoria">
            {{ tipoPub.categoria  }}
          </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo animal</mat-label>
          <mat-select formControlName="tipoAnimal">
          <mat-option *ngFor="let tipoAnimal of TipoAnimalObj"
           [value]="tipoAnimal.tipo">
            {{ tipoAnimal.tipo  }}
          </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Raza</mat-label>
          <mat-select formControlName="raza">
          <mat-option *ngFor="let raza of razaObj" 
          [value]="raza.tipo">
            {{ raza.tipo  }}
          </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sexo</mat-label>
          <mat-select formControlName="sexo">
          <mat-option *ngFor="let sexo of sexoObj" 
          [value]="sexo.tipo">
            {{ sexo.tipo  }}
          </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
<!-- IMAGE
    <div>
      <mat-label>Foto:</mat-label>
      <label for="file-upload">
        Subir archivo
      </label>
      <input id="file-upload"
              accept="image/png, image/jpeg"
              (change)="onFileChanged($event)"
              type="file"
              formControlName="picture"/> 
              <span>{{ nameImg }}</span>
    </div>
-->
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()"
  [disabled]="publicacionForm.invalid">
    <mat-icon>save</mat-icon>Guardar
  </button>
</mat-dialog-actions>
