<div >
    <nav class="navbar shadow fixed-top mb-5 p-4 ">
        <div class="container m-2">
          <a class="navbar-brand" href="#">
            <img class="ms-3 position-absolute top-50 start-0 translate-middle-y" 
src="../../../../../assets/logoPrincipal.png" 
alt="" width="60" height="60">
          </a>
          <button class="me-3 btn btn-ingreso position-absolute top-50 end-0 translate-middle-y">Ingresar</button>
        </div>
      </nav>
    <router-outlet></router-outlet>

</div>
