
  <div >
    <nav class="navbar shadow fixed-top mb-5 p-4 ">
        <div class="container m-2">
          <a class="navbar-brand" href="#" routerLink="dashboard/app-publicaciones">
            <img class="ms-3 position-absolute top-50 start-0 translate-middle-y" 
src="../../../../../assets/logoPrincipal.png" 
alt="" width="60" height="60">
          </a>
          <button class="me-3 btn btn-ingreso position-absolute top-50 end-0 translate-middle-y">Ingresar</button>
          </div>
      </nav>
</div>



<p>sidenav</p>



<div class="list-services">
  <div class="row text-center">
      <div class="col p-5 m-5">
          <a href="" class="p-3 rounded-circle" routerLink="app-publicaciones">
            <img src="../../../../../assets/dog_512.png"  alt="" height="70px" width="70px">
          </a>
          <a href="" class="p-3 rounded-circle" routerLink="view-encontrados">
            <img src="../../../../../assets/dog_512.png"  alt=""  height="70px" width="70px">
          </a>
          <a href="" class="p-3 rounded-circle" routerLink="view-extraviados">
            <img src="../../../../../assets/dog_512.png"  alt="" height="70px" width="70px">
          </a>
          <a href="" class="p-3 rounded-circle"routerLink="" >
            <img src="../../../../../assets/dog_512.png" alt="" height="70px" width="70px">
          </a>
      </div>
  </div>
</div> 





<router-outlet></router-outlet>





<footer class="bg-dark footer-height">

</footer>

