<div class="col p-3">
    <div class="row p-3 d-flex flex-row justify-content-center alig-items-center">
  
             <div class="card bg-light shadow m-3" style="width: 15rem; height: 22rem;" 
                   >
                 <img src="../../../../../assets/cachupin1.jpg" class="card-img-top" alt="...">
                 
                 
                 
                 <div class="list-services">
                    <div class="row text-center">
                        <div class="col p-5 m-5">
                            <a href="" class="p-3 rounded-circle" routerLink="view-info-adopcion"><img src="../../../../../assets/dog_512.png"  alt="" height="70px" width="70px"></a>
                            <a href="" class="p-3 rounded-circle" routerLink="view-encontrados"><img src="../../../../../assets/dog_512.png"  alt=""  height="70px" width="70px"></a>
                            <a href="" class="p-3 rounded-circle" routerLink="view-extraviados"><img src="../../../../../assets/dog_512.png"  alt="" height="70px" width="70px"></a>
                            <a href="" class="p-3 rounded-circle"><img src="../../../../../assets/dog_512.png" routerLink="" alt="" height="70px" width="70px"></a>
                            <a href="" class="p-3 rounded-circle" routerLink="view-info-adopcion">prueba</a>
                        </div>
                    </div>
                </div> 
            
            
            
            
                 
                 
                 
                 <div class="card-body overflow-auto">
                   <h5 class="card-title text"></h5>
                   <p class="text"></p>
                   <p></p> 
                   <a routerlink="app-publicaciones">PRUEBITA</a>
                 <div >
                   </div>
                   <div>
                    <button class="btn form-control busqueda btn-success" 
                    routerLink="app-publicaciones" >Lo encontré</button>
                   </div>
                   <div ></div>
                    <button class="btn form-control busqueda btn-warning">Es mi mashhhhhcota</button>
                   </div>
                   
                 </div>
               </div>
    </div>
  