    <div class="list-services">
        <div class="row text-center">
            <div class="col p-5 m-5">
                <a href="" class="p-3 rounded-circle" routerLink="view-info-adopcion"><img src="../../../../../assets/dog_512.png"  alt="" height="70px" width="70px"></a>
                <a href="" class="p-3 rounded-circle" routerLink="view-encontrados"><img src="../../../../../assets/dog_512.png"  alt=""  height="70px" width="70px"></a>
                <a href="" class="p-3 rounded-circle" routerLink="view-extraviados"><img src="../../../../../assets/dog_512.png"  alt="" height="70px" width="70px"></a>
                <a href="" class="p-3 rounded-circle"><img src="../../../../../assets/dog_512.png" routerLink="" alt="" height="70px" width="70px"></a>
                <a href="" class="p-3 rounded-circle" routerLink="view-info-adopcion">g</a>
            </div>
        </div>
    </div> 



