<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
  
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Título de la publicación</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label for="">Descripción de la publicación</label>
          <textarea class="form-control" id="" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre de la mascota</label>
          <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Comuna en la que reside</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Talca</option>
            <option>San clemente</option>
            <option>San javier</option>
            <option>Linares</option>
            <option>Parral</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Tipo publicación</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Busco a mi mascota</option>
            <option>Encontre una mascota</option>
            <option>Doy en adopción</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Comuna en la que reside</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Talca</option>
            <option>San clemente</option>
            <option>San javier</option>
            <option>Linares</option>
            <option>Parral</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoría animal</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Perro</option>
            <option>Gato</option>
            <option>Loro</option>
            <option>Hamster</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoría animal</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Siames</option>
            <option>Quilterri</option>
          </select>
        </div>      <div class="form-group">
          <label for="exampleFormControlSelect1">Categoría animal</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Hembra</option>
            <option>Macho</option>
          </select>
        </div>



        <button class="btn btn-primary form-control">Enviar</button>

      </form>
    
    
    
    </div>
    <div class="col-2"></div>
  </div>
  
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  