<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>
<p>publicaciones-encontrados works!</p>

<div class="container-fluid">

    <img src="" alt="">
    
    </div>
    <p>publicaciones-adopcion works!</p>
    <div class="col p-3">
        <div class="row p-3 d-flex flex-row justify-content-center alig-items-center">
                 <div class="card shadow m-3" style="width: 15rem; height: 20rem;" *ngFor="let persona of people" >
                     <img src="..." class="card-img-top" alt="...">
                     <div class="card-body">
                       <h5 class="card-title">id: {{ persona.id }}</h5>
                       <p class="card-text">{{ persona.name }}</p>
                       <a href="#" class="btn btn-primary">En adopción</a>
                     </div>
                   </div>
     </div></div>