

<div class="col p-3">
  <div class="row p-3 d-flex flex-row justify-content-center alig-items-center">
    publicationsAdoptions
           <div class="card bg-light shadow m-3" style="width: 15rem; height: 22rem;" 
               *ngFor="let publicaciones of publicationsAdoptions" routerLink="view-adopcion">
               <img src="../../../../../assets/cachupin1.jpg" class="card-img-top" alt="...">
               
               <div class="card-body overflow-auto">
                 <h5 class="card-title text">{{ publicaciones.titulo }}</h5>
                 <p class="text">{{ publicaciones.descripcion }}</p>
                 <p>{{ publicaciones.categoriaPublicacionId }}</p>
               <div class="" *ngIf=" publicaciones.categoriaPublicacionId == 1">
                <button class="btn form-control btn-primary">Adoptar</button>
                 </div>
               </div>
             </div>
  </div>
</div>

