<!--VISTA MASCOTAS EN ADOPCION-->

<div class="card text-bg-dark rounded-0 border border-white shadow">
  <img src="../assets/fondo1.jpg" class="card-img" alt="..." height="270px">
  <div class="card-img-overlay">
    <h5 class="card-title text-dark">Mascotas en adopción</h5>
    <p class="card-text text-dark">This is a wider card with supporting text below as a natural <br>
      lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text text dark"><small>Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="row">

  <button class="btn"></button>
  <button class="btn"></button>
  <button class="btn"></button>
  <button class="btn"></button>

</div>

<!--for de cartas-->

<div class="row">
  <div class="col-1">

  </div>
  <div class="col-10 text-center">  
    <div class="row text-center">
    <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  <div class="card" style="width: 15rem; height: 20rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Título de la tarjeta</h5>
      <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
      <a href="#" class="btn btn-primary">Ir a algún lugar</a>
    </div>
  </div>
  </div>
</div>
<div class="col-1">

</div>
</div>


<!--El login es una vista aparte, se redirige a la vista tras ser presionado el boton ingresar o publicar-->



  <div class="col-1"></div>
  <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign in</h3>
  
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  
              <hr class="my-4">
  <!--
              <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
              <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>
  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">

    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Título de la publicación</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="">Descripción de la publicación</label>
        <textarea class="form-control" id="" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre de la mascota</label>
        <input type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Comuna en la que reside</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Talca</option>
          <option>San clemente</option>
          <option>San javier</option>
          <option>Linares</option>
          <option>Parral</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo publicación</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Busco a mi mascota</option>
          <option>Encontre una mascota</option>
          <option>Doy en adopción</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Comuna en la que reside</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Talca</option>
          <option>San clemente</option>
          <option>San javier</option>
          <option>Linares</option>
          <option>Parral</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Categoría animal</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Perro</option>
          <option>Gato</option>
          <option>Loro</option>
          <option>Hamster</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Categoría animal</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Siames</option>
          <option>Quilterri</option>
        </select>
      </div>      <div class="form-group">
        <label for="exampleFormControlSelect1">Categoría animal</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Hembra</option>
          <option>Macho</option>
        </select>
      </div>
    </form>
  
  
  
  </div>
  <div class="col-2"></div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>



<!--VISTA CONTACTO ADOPCIÓN-----------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------->



<!--ESTILOS FONDO DE CONTENEDORES-->
<style>

  .fondo-contenedores{

    background-color: #ffffff;

  }


</style>


<div class="card text-bg-dark rounded-0 border border-white shadow">
  <img src="../assets/fondo1.jpg" class=" card-img" alt="..." height="270px">
  <div class="card-img-overlay">
    <h1 class="card-title text-dark ms-5 my-3">Mascotas en adopción</h1>
    <p class="card-text text-dark ms-5">This is a wider card with supporting text below as a natural <br>
      lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text text dark"><small>Last updated 3 mins ago</small></p>
  </div>
</div>


<style>
  .color-cabeceras-adopcion{
    background: #4872CB;
    
  }
</style>

<!--cabezeras del contenedor del contacto y la lista lateral de tarjetas-->
<div class="row mt-5">
  <div class="col-3 rounded-3 color-cabeceras-adopcion m-3 mx-auto shadow">
    <h2 class="text-center text-light">Publicaciones</h2>
  </div>
  <div class="col-8 rounded-3 m-3 color-cabeceras-adopcion shadow text-center">
    <h2 class="text-light">Información del contacto del dueño de la mascota</h2>
  </div>
</div>

<!--Contenedor y lista de contactos y publicaciones-->

<div class="row">

<!--
  LISTA LATERAL QUE CONTIENE LAS TARJETAS DE PUBLICACIONES

  PRIMERA COLUMNA-3
-->

  <div class="col-3 m-3  mx-auto shadow fondo-contenedores">
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
  </div>

<!--
  SEGUNDA COLUMNA QUE CONTIENE EL CONTENEDOR CON LA INFORMACIÓN DEL DUEÑO DE LA MASCOTA 
-->

  <div class="col-8 m-3 fondo-contenedores shadow-lg  text-center">
    <div class="container">
      <img class="m-3 shadow" src="../assets/5472144.jpg" alt="" width="300px" height="300pxs">
      <h5 class="m-3 mb-5">Nombre Mascota</h5>

      <div class="col my-3">
             <label for="">Nombre del publicante : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
      <div class="col my-3">
        <label for="">Teléfono : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
        <div class="col my-3">
          <label for="">Fecha de nacimiento : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
      <div class="col my-3">
        <label for="">Especie : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
 <div class="col my-3">
   <label for="">Raza : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
   <div class="col my-3">
     <label for="">Tamaño : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
 <div class="col my-3">
  <label for="">Color : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>
<div class="col my-3">
  <label for="">Descripción : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>

<hr class="my-5">


    </div>
  </div>

</div>





<br>
<br>
<br>
<br>
<br>
<br>










<!--VISTA CONTACTO MASCOTAS EXTRAVIADAS-----------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------->



<!--ESTILOS FONDO DE CONTENEDORES-->
<style>

  .fondo-contenedores{

    background-color: #ffffff;

  }


</style>

<style>
  .navbar{

    background-color: #C39BD3;
  }
</style>

<div >
  <nav class="navbar shadow fixed-top mb-5 p-4 ">
      <div class="container m-2">
        <a class="navbar-brand" href="#">
          <img class="ms-3 position-absolute top-50 start-0 translate-middle-y" 
src="../../../../../assets/logoPrincipal.png" 
alt="" width="60" height="60">
        </a>
        <button class="me-3 btn btn-ingreso position-absolute top-50 end-0 translate-middle-y">Ingresar</button>
      </div>
    </nav>
  <router-outlet></router-outlet>

</div>







<div class="card text-bg-dark rounded-0 border border-white shadow">
  <img src="../assets/fondo1.jpg" class=" card-img" alt="..." height="270px">
  <div class="card-img-overlay">
    <h1 class="card-title text-dark ms-5 my-3">Mascotas extraviadas</h1>
    <p class="card-text text-dark ms-5">This is a wider card with supporting text below as a natural <br>
      lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text text dark"><small>Last updated 3 mins ago</small></p>
  </div>
</div>


<style>
  .color-cabeceras-extraviados{
    background: #E67E22;
    
  }
</style>

<!--cabezeras del contenedor del contacto y la lista lateral de tarjetas-->
<div class="row mt-5">
  <div class="col-3 rounded-3 color-cabeceras-extraviados m-3 mx-auto shadow">
    <h2 class="text-center text-light">Publicaciones</h2>
  </div>
  <div class="col-8 rounded-3 m-3 color-cabeceras-extraviados shadow text-center">
    <h2 class="text-light">Información del contacto del dueño de la mascota</h2>
  </div>
</div>

<!--Contenedor y lista de contactos y publicaciones-->

<div class="row">

<!--
  LISTA LATERAL QUE CONTIENE LAS TARJETAS DE PUBLICACIONES

  PRIMERA COLUMNA-3
-->

  <div class="col-3 m-3  mx-auto shadow fondo-contenedores">
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
  </div>

<!--
  SEGUNDA COLUMNA QUE CONTIENE EL CONTENEDOR CON LA INFORMACIÓN DEL DUEÑO DE LA MASCOTA 
-->

  <div class="col-8 m-3 fondo-contenedores shadow-lg  text-center">
    <div class="container">
      <img class="m-3 shadow" src="../assets/5472144.jpg" alt="" width="300px" height="300pxs">
      <h5 class="m-3 mb-5">Nombre del Dueño</h5>

      <div class="col my-3">
             <label for="">Teléfono : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
      <div class="col my-3">
        <label for="">Correo : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
        <div class="col my-3">
          <label for="">Lugar de extravío : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
      <div class="col my-3">
        <label for="">Nombre de la mascota : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
 <div class="col my-3">
   <label for="">Número de chip : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
   <div class="col my-3">
     <label for="">Especie : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
 <div class="col my-3">
  <label for="">Sexo : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>
<div class="col my-3">
  <label for="">Color : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>
<div class="col my-3">
  <label for="">Observaciones : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>

<hr class="my-5">



    </div>
  </div>

</div>
















<!--VISTA CONTACTO MASCOTAS ENCONTRADOS-----------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------->



<!--ESTILOS FONDO DE CONTENEDORES-->
<style>

  .fondo-contenedores{

    background-color: #ffffff;

  }


</style>







<div class="card text-bg-dark rounded-0 border border-white shadow">
  <img src="../assets/fondo1.jpg" class=" card-img" alt="..." height="270px">
  <div class="card-img-overlay">
    <h1 class="card-title text-dark ms-5 my-3">Mascotas encontradas</h1>
    <p class="card-text text-dark ms-5">This is a wider card with supporting text below as a natural <br>
      lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text text dark"><small>Last updated 3 mins ago</small></p>
  </div>
</div>


<style>
  .color-cabeceras-extraviados{
    background: #800080;
    
  }
</style>

<!--cabezeras del contenedor del contacto y la lista lateral de tarjetas-->
<div class="row mt-5">
  <div class="col-3 rounded-3 color-cabeceras-extraviados m-3 mx-auto shadow">
    <h2 class="text-center text-light">Publicaciones</h2>
  </div>
  <div class="col-8 rounded-3 m-3 color-cabeceras-extraviados shadow text-center">
    <h2 class="text-light">Información del contacto </h2>
  </div>
</div>

<!--Contenedor y lista de contactos y publicaciones-->

<div class="row">

<!--
  LISTA LATERAL QUE CONTIENE LAS TARJETAS DE PUBLICACIONES

  PRIMERA COLUMNA-3
-->

  <div class="col-3 m-3  mx-auto shadow fondo-contenedores">
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
    <div class="card shadow mx-auto mt-3" style="width: 15rem; height: 20rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Título de la tarjeta</h5>
        <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
    </div>
  </div>

<!--
  SEGUNDA COLUMNA QUE CONTIENE EL CONTENEDOR CON LA INFORMACIÓN DEL DUEÑO DE LA MASCOTA 
-->

  <div class="col-8 m-3 fondo-contenedores shadow-lg  text-center">
    <div class="container">
      <img class="m-3 shadow" src="../assets/5472144.jpg" alt="" width="300px" height="300pxs">
      
      
      <h5 class="m-3 mb-5">Nombre del publicante</h5>

      <div class="col my-3">
             <label for="">Teléfono : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
      <div class="col my-3">
        <label for="">Correo : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
        <div class="col my-3">
          <label for="">Lugar dónde fue encontrada la mascota : </label><label for="">claudio andres fuentes bustos bustos</label> 
      </div>
      <div class="col my-3">
        <label for="">Numero chip : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
 <div class="col my-3">
   <label for="">Especie : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
   <div class="col my-3">
     <label for="">Sexo : </label><label for="">claudio andres fuentes bustos bustos</label> 
 </div>
 <div class="col my-3">
  <label for="">Color : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>
<div class="col my-3">
  <label for="">Color : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>
<div class="col my-3">
  <label for="">Observaciones : </label><label for="">claudio andres fuentes bustos bustos</label> 
</div>

<hr class="my-5">


    </div>
  </div>

</div>










<style>
  .footer-height{

    background-color: #5D6D7E ;
    height: 200px;
  }
</style>

<footer class="bg-dark footer-height">


</footer>



<br>
<br>
<br>
<br>
<br>
<br>
