<div class="col p-3">
  <div class="row p-3 d-flex flex-row justify-content-center alig-items-center">

           <div class="card bg-light shadow m-3" style="width: 15rem; height: 22rem;" 
               *ngFor="let publicaciones of publications" >
               <img src="../../../../../assets/cachupin1.jpg" class="card-img-top" alt="...">
               
               <div class="card-body overflow-auto">
                 <h3 class="card-title text">{{ publicaciones.titulo | uppercase }}</h3>
                 <p class="text limitado">{{ publicaciones.descripcion }}</p>
               <div class="" *ngIf=" publicaciones.categoriaPublicacionId == 1">
                <button class="btn form-control busqueda btn-primary" [routerLink]="['view-info-adopcion',publicaciones.id]">Adoptar</button>
                 </div>
                 <div *ngIf=" publicaciones.categoriaPublicacionId == 2">
                  <button class="btn form-control busqueda btn-warning" [routerLink]="['view-info-extraviado',publicaciones.id]">Extraviado</button>
                </div>
                 <div *ngIf=" publicaciones.categoriaPublicacionId == 3">
                  <button class="btn form-control busqueda btn-success" [routerLink]="['view-info-encontrado',publicaciones.id]">Lo encontré</button>
                </div>
                 
               </div>
             </div>
  </div>
</div>

